.done {
  text-decoration: line-through;
}

.delbtn {
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
}

#enter {
  border-radius: 5px;
}

#userinput {
  border-radius: 5px;
}

form {
  display: block;
}
